
<div style="text-align: center; margin-top: 60px;">
    <img src="/images/work in progress.jpg" alt="">
</div>

<br>
<br>

<h2 style="text-align: center;">Thank You !</h2>

<div style="text-align: center; margin-top: 30px;">
    <a href="/">Return to Home Page</a>
</div>